services:

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_app
    restart: always
    volumes:
      - ./app:/var/www/html
    environment:
      DATABASE_URL: 'postgresql://symfony:!change-me!@db:5432/app_db?server_version=15&charset=utf8'
      REDIS_HOST: 'redis'
      RABBITMQ_HOST: 'rabbitmq'
    depends_on:
      - db
      - redis
      - rabbitmq

  web:
    image: nginx:stable-alpine
    container_name: symfony_nginx
    restart: always
    ports:
      - '80:80'
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:15-alpine
    container_name: symfony_postgres
    restart: always
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: '!change-me!'
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: symfony_redis
    restart: always
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: symfony_rabbitmq
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.18
    container_name: symfony_es
    restart: always
    environment:
      - 'discovery.type=single-node'
      - 'xpack.security.enabled=false'
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - '9200:9200'
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail http://localhost:9200/_cat/health || exit 1" ]
      interval: 10s
      timeout: 10s
      retries: 5

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: symfony_ch
    restart: always
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: pass
    ports:
      - '8123:8123'

  mongodb:
    image: mongo:6.0
    container_name: symfony_mongodb
    restart: always
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.runCommand('ping').ok" ]
      interval: 10s
      timeout: 10s
      retries: 5

  graylog:
    image: graylog/graylog:6.3
    container_name: symfony_graylog
    restart: always
    environment:
      GRAYLOG_PASSWORD_SECRET: 'pass_secret_12345'
      # pass
      GRAYLOG_ROOT_PASSWORD_SHA2: 'd74ff0ee8da3b9806b18c877dbf29bbde50b5bd8e4dad7a3a725000feb82e8f1'
      GRAYLOG_ROOT_USERNAME: admin
      GRAYLOG_MONGODB_URI: 'mongodb://mongodb:27017/graylog'
      GRAYLOG_ELASTICSEARCH_HOSTS: 'http://elasticsearch:9200'
      GRAYLOG_WEB_ENDPOINT_URI: 'http://127.0.0.1:9000/api'
    ports:
      - '9000:9000'
      - '12201:12201/udp'
    volumes:
      - graylog_data:/usr/share/graylog/data
    depends_on:
      elasticsearch:
        condition: service_healthy
      mongodb:
        condition: service_healthy

volumes:
  db_data:
  redis_data:
  es_data:
  mongo_data:
  graylog_data: